<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
  <script src="/public/js/plugins/jquery-3.4.0.min.js"></script>
  <script src="/public/js/plugins/jquery-cookie/jquery.cookie.js"></script>
</head>

<body>
  <div class="img-bg"></div>
  <div class="login-con">
    <div class="login-con-row">
      <label for="username">username</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="login-con-row">
      <label for="password">password</label>
      <input type="password" id="password" name="password">
    </div>
    <div class="login-con-row">
      <button id="loginBtn">login</button>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    var csrftoken = $.cookie('csrfToken')

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader('x-csrf-token', csrftoken);
        }
      },
    });

    $('#loginBtn').on('click', function() {
      var username = $('#username').val()
      var password = $('#password').val()

      $.ajax({
        url: '/api/v1/login',
        method: 'POST',
        data: {
          username,
          password
        },
        success: function(data) {
          console.log('data', data);
          $.cookie('authorizationToken', data.data.token)
        },
        error: function(err) {
          console.log('err', err);
        }
      })
    })
  })
</script>

</html>